.venv/
.cache/
__pycache__/
.pytest_cache/
.ruff_cache/
dist/
build/
*.egg-info/
*.mpr
*.mpt
*.nda
*.ndax
*.csv
*.txt
!src/battread_gui/resources/GPL-3.0.txt
*.parquet
*.ipynb

*.zip
*.tar.gz
!requirements-build.txt
!packaging/version_info.txt
!licenses/**/*.txt
